@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "BruceForever";
  src: url("/assets/fonts/BruceForever.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-bruce {
  font-family: "BruceForever", sans-serif;
}

@layer utilities {
  .shine-effect {
    position: relative;
    overflow: hidden;
  }

  .shine-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 1%;
    height: 100%;

    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    transform: skewX(-25deg);
    animation: shine 2s infinite;
  }
  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }

  .shine-effect::before {
    animation: shine 2s infinite;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
