# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build artifacts
bin/
build/
dist/

# Configs
config/*.yaml

# Go workspace
go.work
go.work.sum

# Dependency directories (if vendoring)
vendor/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
